<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Ingresar nuevo proveedor', new_provider_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-primary">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-primary">
    Proveedores
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center" id="dttb">
      <thead>
        <tr>
          <th>RUT proveedor</th>
          <th>Razon social</th>
          <th>Dirección</th>
          <th>Telefono</th>
          <th>Contacto</th>
          <th>Giro</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @providers.each do |provider| %>
          <tr>
            <td><%= provider.rut %></td>
            <td><%= provider.name %></td>
            <td><%= provider.address %></td>
            <td><%= provider.phone %></td>
            <td><%= provider.contact %></td>
            <td><%= provider.item %></td>
            <td>
              <%= link_to provider, class: 'btn btn-primary btn-sm' do %>
                <% icon('fas', 'eye') %>
              <% end %>
              <%= link_to edit_provider_path(provider), class: 'btn btn-success btn-sm' do %>
                <% icon('fas', 'edit') %>
              <% end %>
              <%= link_to provider, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-sm' do %>
                <% icon('fas', 'trash-alt') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
