<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.association :provider, include_blank: false %>
        <%= link_to 'Agregar proveedor', new_provider_path, class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="col-md-6">
        <%= f.association :bank, include_blank: false %>
        <%= link_to 'Agregar banco', new_bank_path, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
    <hr>
    <%= f.input :correlative, as: :string %>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :memo, as: :string %>
      </div>
      <div class="col-md-4">
        <%= f.input :memo_income_date, as: :string, value: @ticket.memo_income_date, input_html: { class: 'datepicker' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :ticket_number, as: :string %>
      </div>
      <div class="col-md-4">
        <%= f.input :ticket_type %>
      </div>
      <div class="col-md-4">
        <%= f.input :due_date, as: :string, input_html: { class: 'datepicker' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :amount, as: :string %>
      </div>
      <div class="col-md-4">
        <%= f.input :currency %>
      </div>
    </div>
    <%= f.input :caution %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :project_name %>
      </div>
      <div class="col-md-6">
        <%= f.input :bip %>
      </div>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
