<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.association :provider, disabled: true %>
      </div>
      <div class="col-md-6">
        <%= f.association :bank, disabled: true %>
      </div>
    </div>
    <hr>
    <%= f.input :correlative, disabled: true %>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :memo, as: :string, disabled: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :memo_income_date, as: :string, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :ticket_number, disabled: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :due_date, disabled: true, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :amount, disabled: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :currency, disabled: true %>
      </div>
    </div>
    <%= f.input :caution, disabled: true %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :project_name, disabled: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :bip, disabled: true %>
      </div>
    </div>
  </div>
<% end %>
