<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Nuevo registro de garantia', new_ticket_path, class: 'btn btn-success btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-success">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-success">
    Garantias
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Numero correlativo</th>
          <th>Numero memorandum</th>
          <th>Numero garantia</th>
          <th>Proyecto</th>
          <th>Codigo BIP</th>
          <th>Oficio despacho</th>
          <th>Analista</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.correlative %></td>
            <td><%= ticket.memo %></td>
            <td><%= ticket.ticket_number %></td>
            <td><%= ticket.project_name %></td>
            <td><%= ticket.bip %></td>
            <td><%= ticket.departed_office %></td>
            <td><%= ticket.analist %></td>
            <td>
              <%= link_to 'Ver', ticket, class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Editar', edit_ticket_path(ticket), class: 'btn btn-success btn-sm' %>
              <%= link_to 'Eliminar', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
